/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-28, 21:08:55
    Author     : Administrator
*/
body,html{
  height: 100%;
}
.bg{
  background: url("sprite.png");
}
.goto_shop{
  margin:0  auto;
  width: 129px;
	height: 41px;
  background-position: -14px -17px;
}
.goto_shop:hover{
  cursor: pointer;
}
.slider-wrapper{
  height: 57%;
}
.placeholder_box_introduce{
  height: 6.8%;
}
.placeholder_box_goto_shop{
  height: 6.8%;
}
.introduce{
  height: 12.1%;
}
.home_slider{
  height: 100%;
}
.nav{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: #FCFBFB; 
}
.nav .item{
  font-size: 12px;
  margin: 0 18px;
  font-weight: bold;
}
.nav .item:hover{
  text-decoration: underline;
}
.nav .active{
  text-decoration: underline;
}
.produce_img{
  height: 100%;
  width: 100%;
  position: relative;
}
.goto_shop_list{
  position: absolute;
  top: 803px;
  left: 134px;
}
.goto_shop_list li a{
  width: 66px;
  height: 25px;
}
.taobao{
   background-position: -160px -27px;
}
.jingdong{
  background-position:  -219px -28px;
}
.yihaodian{
  background-position: -281px -25px;
}
.qianwang{
  background-position: -281px -25px;
}
.happy_see_title{
  font-size: 46px;
  color: #286F37;
  height: 88px;
  font-weight: bold;
}
.happy_see{
  margin-top: 125px;
}
.happy_seee_list{
  width: 1578px;
  margin: 0 auto;
}
.happy_seee_list img{
  width: 370px;
  height: 265px;
}
.happy_seee_list dd{
  font-size: 14px;
}
.happy_seee_list li{
  margin: 0 78px;
  width: 370px;
  height: 345px;
}
.happy_see_model{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #F5F5F5;
}
.happy_see_model .close {
  background-position: -27px -146px;
  width: 58px;
	height: 59px;
}
.article_main{
  width: 1616px;
  margin: 178px auto;
}
.happy_see_model_main .header{
  height: 108px;
  background-color: #FFFFFF;
}
.nav_of_article{
  line-height: 108px;
  text-indent: 45px;
}
.nav_of_article a{
  margin:0 10px;
}
.qqweibo{
  background-position:-133px -75px;
}
.weixin{
  background-position: -162px -75px;
}
.xinlang{
  background-position:-190px -75px;
}
.share_happy{
  width: 235px;
  height: 108px;
  line-height: 108px;
}
.share_happy .text{
  margin-right: 10px;
  font-size: 18px;
  color: #595757;
  vertical-align: middle;
}
.share_happy .icon{
  margin: 0 10px;
  width: 23px;
	height: 22px;
  vertical-align: middle;
}
.turn_left{
  background-position: -138px -119px;
  width: 172px;
	height: 111px;
}
.turn_right{
  background-position: -269px -120px;
  width: 172px;
	height: 111px;
}
.article_main .contain{
  width: 1276px;
}
.happy_img{
  width: 100%;
}
.happy_context{
  height: 415px;
  overflow: hidden;
}
.more_news{
  margin: 60px auto;
  width : 1616px;
}
.more_news .title{
  font-size: 21px;
  height: 50px;
  line-height: 50px;
  border: 0 none;
  border-bottom: 2px dashed #5D5D5D;
  margin: 0 97px 40px;
}
.cooperation_download{

}
.contact{
  font-size: 30px;
  margin-top: 42px;
  height: 50px;
  font-weight: bold;
}
.cooperation .name{
  background-color: #EDEDED;
  width: 340px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  color: #595757;
  margin-bottom: 12px;
}
.cooperation .name span{
  margin-left: 10px;
  color: #595757;
}
.cooperation .name input{
  border: 0 none;
  height: 28px;
  line-height: 28px;
  background-color: #EDEDED;
  font-size: 10px;
}
.cooperation .textarea{
  width: 324px;
  height: 130px;
  background-color: #EDEDED;
  resize: none;
  font-size: 10px;
  color: #595757;
  border: 0 none;
  padding: 8px;
}
.cooperation_download{
  background-position: -454px -20px;
  width: 118px;
	height: 32px;
}
.cooperation_goto_shop{
  background-position : -255px -64px;
  width: 139px;
	height: 44px;
  margin-top: 154px;
  margin-left: 133px;
}
.cooperation_download{
  margin-top: 305px;
  margin-left: 150px;
  margin-right: 195px;
}
.address{
  margin-top: 56px;
  border: 0 none;
  width: 400px;
  height: 230px;
  margin-left: 70px;
}
.address li{
  border-bottom: 2px solid #595757;
  height: 56px;
  line-height: 56px;
}
.address .icon{
  width: 26px;
	height: 26px;
  vertical-align: middle;
}
.add_icon{
  background-position:  -410px -72px;
}
.tel_icon{
  background-position:  -453px -73px;
}
.emal_icon{
  background-position: -493px -73px;
}
.address .text{
  font-size: 16px;
  color: #595757;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 7px;
}
.address .share{
  margin-top: 38px;
  border: 0 none;
  height: 25px;
  line-height: 25px;
}
.address .share .icon{
  width: 23px;
	height: 22px;
}
.cooperation .send{
  background-position: -15px -73px;
  width: 77px;
	height: 25px;
  margin-top: 17px;
}
