/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-28, 21:08:55
    Author     : Administrator
*/
.home_slider .nivo-directionNav a{
  
}
display: block;
width: 30px;
height: 30px;
background: url(arrows.png) no-repeat;
text-indent: -9999px;
border: 0;
opacity: 0;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;