/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-28, 21:08:55
    Author     : Administrator
*/
@media (min-width:1366px) { 
  body,html{
    /*height: 100%;*/
  }
  .main_body{
    height: 95%;
  }
  .bg{
    background: url("sprite.png");
  }
  .goto_shop{
    margin:0  auto;
    width: 129px;
  	height: 41px;
    background-position: -14px -17px;
  }
  .goto_shop:hover{
    cursor: pointer;
  }
  .slider-wrapper{
    height: 57%;
  }
  .placeholder_box_introduce{
    height: 6.8%;
  }
  .placeholder_box_goto_shop{
    height: 6.8%;
  }
  .introduce{
    height: 12.1%;
  }
  .home_slider{
    height: 100%;
  }
  .home_slider img{
    height
  }
  .nav{
    text-align: center;
    width: 100%;
    height: 5%;
    line-height: 40px;
    background-color: #FCFBFB; 
    z-index: 99999;
    position: relative;
    z-index: 99999;
    background: rgba(255,255,255, 0.5);
  }
  .nav .item{
    font-size: 18px;
    margin: 0 40px;
    font-weight: 500;
    padding-bottom: 3px;
    color: black;
    outline:none; 
    hide-focus: expression(this.hideFocus=true);  
  }
  .nav .item:hover{
    border-bottom: 1px solid black;
  }
  .nav_of_article{
    text-align: left;
    width: 100%;
    height: 5%;
    line-height: 40px;
    background-color: #FCFBFB; 
    z-index: 99999;
    position: relative;
    z-index: 99999;
    background: rgba(255,255,255, 0.5);
  }
  .nav_of_article .item{
    font-size: 18px;
    margin: 0 10px;
    font-weight: 500;
    padding-bottom: 3px;
    color: black;
    outline:none; 
    hide-focus: expression(this.hideFocus=true);  
  }
  .nav_of_article .item:hover{
    border-bottom: 1px solid black;
  }
  .nav_of_article .active{
    border-bottom: 1px solid black;
  }
  .nav .active{
    border-bottom: 1px solid black;
  }
  .produce_img{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 800px;
  }
  .produce_item{
    width: 10%;
  }
  .produce_img_list{
    width: 1000%;
  }
  .goto_shop_list{
    position: absolute;
  }
  .list_order_1{
    top: 803px;
    left: 134px;
  }
  .list_order_2{
    top: 803px;
    left: 134px;
  }
  .goto_shop_list li a{
    width: 66px;
    height: 25px;
  }
  .goto_shop_list li .qianwang{
    width: 78px;
  }
  .taobao{
     background-position: -160px -27px;
  }
  .jingdong{
    background-position:  -219px -28px;
  }
  .yihaodian{
    background-position: -281px -25px;
  }
  .qianwang{
    background-position: -348px -25px;
  }
  .happy_see_title{
    font-size: 46px;
    color: #286F37;
    height: 88px;
    font-weight: bold;
    padding-top:125px;
    margin-left: 3%;
  }
  .happy_see{
    margin: 0 auto;
    width: 1578px;
    height: 100%;
  }
  .happy_seee_list{
    width: 1578px;
    margin: 0 auto;
  }
  .happy_seee_list img{
    width: 100%;
  }
  .happy_seee_list dd{
    font-size: 15px;
    color: #595757;
	height: 60px;
  }
  .happy_seee_list li{
    margin: 0 3%;
    width: 27%;
  }
  .happy_seee_list li:hover{
    cursor: pointer;
  }
  .happy_see_model{
    height: 100%;
    width: 100%;
    position: absolute;
    background:  rgba(215, 215, 215, 0.9);
    z-index: 9999;
    top: 0;
  }
  .happy_see_model .close {
    background-position: -27px -146px;
    width: 58px;
  	height: 59px;
    margin-top: -126px;
  }
  .happy_see_model .close:hover{
    cursor: pointer;
  }
  .article_main{
    width: 1750px;
    margin: 178px auto;
  }
  .happy_see_model_main .header{
    height: 108px;
    background-color: #FFFFFF;
  }
  .happy_see_model_main{
    overflow: hidden;
  }
  .nav_of_article{
    line-height: 108px;
    text-indent: 45px;
  }
  .nav_of_article a{
    margin:0 10px;
  }
  .qqweibo{
    background-position:-133px -75px;
  }
  .weixin{
    background-position: -162px -75px;
  }
  .xinlang{
    background-position:-190px -75px;
  }
  .share_happy{
    width: 235px;
    height: 108px;
    line-height: 108px;
    position:relative;
  }
  .share_happy .text{
    margin-right: 10px;
    font-size: 18px;
    color: #595757;
    vertical-align: middle;
  }
  .share_happy .icon{
    margin: 0 10px;
    width: 23px;
  	height: 22px;
    vertical-align: middle;
  }
  .turn_left{
    background-position: -138px -119px;
    width: 85px;
    height: 111px;
    margin-right: 87px;
    margin-top: 375px;
  }
  .turn_right{
    background-position: -241px -120px;
    width: 85px;
    height: 111px;
    margin-left: 87px;
    margin-top: 375px;
  }
  .turn_right:hover{
    cursor: pointer;
  }
  .article_main .contain{
    width: 1400px;
  }
  .happy_img{
    width: 100%;
  }
  .happy_context{
    height: 415px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 30px 60px;
  }
  .more_news{ 
    margin: 60px auto;
    width : 1616px;
  }
  .more_news .title{ 
    font-size: 21px;
    height: 50px;
    line-height: 50px;
    border: 0 none;
    border-bottom: 2px dashed #5D5D5D;
    margin: 0 97px 40px;
  }
  .cooperation_download{

  }
  .cooperation{
    height: 100%;
  }
  .contact{
    font-size: 30px;
    margin-top: 42px;
    height: 50px;
    font-weight: bold;
  }
  .cooperation .name{
    background-color: #EDEDED;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #595757;
    margin-bottom: 12px;
  }
  .cooperation .name span{
    margin-left: 10px;
    color: #595757;
    vertical-align: top;
  }
  .cooperation .name input{
    border: 0 none;
    height: 28px;
    line-height: 28px;
    background-color: #EDEDED;
    font-size: 10px;
    outline: 0;
    vertical-align: top;
    width: 300px;
  }
  .cooperation .textarea{
    width: 324px;
    height: 130px;
    background-color: #EDEDED;
    resize: none;
    font-size: 10px;
    color: #595757;
    border: 0 none;
    padding: 8px;
  }
  .cooperation_download{
    background-position: -454px -20px;
    width: 118px;
  	height: 32px;
  }
  .cooperation_goto_shop{
    background-position : -255px -64px;
    width: 139px;
  	height: 44px;
    margin-top: 154px;
    margin-right:  3%;
  }
  .cooperation_download{
    margin-top: 305px;
    margin-left: 8%;
    margin-right: 10.6%;
  }
  }
  .address{
    margin-top: 56px;
    border: 0 none;
    width: 400px;
    height: 230px;
    margin-left: 70px;
  }
  .address li{
    border-bottom: 2px solid #595757;
    height: 56px;
    line-height: 56px;
  }
  .address .icon{
    width: 26px;
  	height: 26px;
    vertical-align: middle;
  }
  .add_icon{
    background-position:  -410px -72px;
  }
  .tel_icon{
    background-position:  -453px -73px;
  }
  .emal_icon{
    background-position: -493px -73px;
  }
  .address .text{
    font-size: 16px;
    color: #595757;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 7px;
  }
  .address .share{
    margin-top: 38px;
    border: 0 none;
    height: 25px;
    line-height: 25px;
    position:relative;
  }
    .share_happy .jiathis_style{
    top: 41px;
    left: 60px;
  }
  .share_happy .share_jia{
    width: 117px;
  }
  .jiathis_style{
    position: absolute;
    top: 0;
  }
  .share_jia{
    width: 77px;
    height: 27px;
  }
  .address .share .icon{
    width: 23px;
  	height: 22px;
  }
  .cooperation .send{
    background-position: -15px -73px;
    width: 77px;
  	height: 25px;
    margin-top: 17px;
  }
  .cooperation .send:hover{
    cursor: pointer;
  }
  .goto_top{
    width: 63px;
    height: 63px;
    background-position: -529px -60px;
    position: fixed;
    bottom: 83px;
    right: 80px;
  }
  .happy_more_wrap{
    width: 1578px;
    margin: 0 auto;
  }
  #js_happy_more{
    background-position: -391px -150px;
    width: 139px;
    height: 44px;
    margin-right: 3%;
  }
  #js_happy_more:hover{
    cursor: pointer;
  }
  .home_slider img{
  }
  .cooper_main{
    width: 1578px;
    margin: 0 auto;
  }
}
