<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <title>做到！</title>
      <meta name="keywords" content="下午好，奶茶" />
      <meta name="description" content="下午好，奶茶">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta content="black" name="apple-mobile-web-app-status-bar-style" />
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta content="telephone=no" name="format-detection" />
      <title>下午好，奶茶！</title>
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/stylesheets/home/wap.css" />
      <script src="__PUBLIC__/javascripts/home/wap.js"></script>
  </head>
  <body class="fm_yahei">
    <div id="js_main" class="main">
      <section class="bg_red page1">ddddddddd</section>
      <section class="bg_blue page2">aaaaaaaaaaaaaaaaaaa</section>
      <section class="bg_yellow page3">fdfffffffffffffffffff</section>
    </div>
  </body>
</html>


