<script src="__PUBLIC__/javascripts/home/jquery.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.nivo.slider.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.scrollAdvance.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.mousewheel.js"></script>
<script>
  jQuery.fn.center = function (absolute) {
    return this.each(function () {
      var t = jQuery(this);

      t.css({
        position:	absolute ? 'absolute' : 'fixed', 
        left:		'50%', 
        top:		'50%', 
        zIndex:		'99'
      }).css({
        marginLeft:	'-' + (t.outerWidth() / 2) + 'px', 
        marginTop:	'-' + (t.outerHeight() / 2) + 'px'
      });

      if (absolute) {
        t.css({
          marginTop:	parseInt(t.css('marginTop'), 10) + jQuery(window).scrollTop(), 
          marginLeft:	parseInt(t.css('marginLeft'), 10) + jQuery(window).scrollLeft()
        });
      }
    });
  };
  $(function(){
    var WINDOW_HEIGHT = $(window).height();
    var NAV_HEIGHT = WINDOW_HEIGHT*0.05;
    var outTime,active_body=$("#js_main_body");
    $("#js_home_slider").nivoSlider({
      controlNav : false
    });
    $("#js_home_slider img").each(function(){
      $(this).height($(this).height());
    });
    $("#js_main_body").mousewheel(function(event,delta){
      if(delta < 0){
        $("#js_nav").css("")
    /*
        $(this).fadeOut(500);
        outTime =setTimeout(function(){
          active_body = $("#js_produce_img").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(1).addClass("active");
        $("#js_nav").animate({bottom: $(window).height()-54},1000);
    */
      }
    })
    //

    function scroll_animate(){
      $("#produce_img_list").animate({marginLeft:"-=100%"},10000,"swing",function(){
        $("#produce_img_list").append($("#produce_img_list li").eq(0).detach());
        $("#produce_img_list").css("marginLeft","0");
      });
      setTimeout(function(){
        scroll_animate();
      },15000);
    }
    scroll_animate();
    //产品
    /*
    $("#js_produce_img").mousewheel(function(event,delta){
      if(delta > 0){
        $(this).fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = $("#js_main_body").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(0).addClass("active");
        $("#js_nav").animate({bottom: 0},1000);
      }else{
        $(this).fadeOut(500);
        clearTimeout(outTime);
        $("#js_nav a").removeClass("active").eq(2).addClass("active");
        outTime=setTimeout(function(){
          active_body = $("#js_happy_see").fadeIn(501);
        },500)
      }
    });
    //动态
    $("#js_happy_see").mousewheel(function(event,delta){
      if(delta > 0){
        $(this).fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = $("#js_produce_img").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(1).addClass("active");
      }
    });
    */
    $(".js_happy_see_item").click(function(){
      var id = $(this).attr("ref_id");
      $("#js_happ_see_model").attr("ref_id",id);
      $.post("/index/get_artcile/id/"+id,{},function(json){
        $("#js_happy_img").attr("src",json.img_url);
        $("#js_happy_content").append(json.content);
        active_body = $("#js_happ_see_model").show().height($(document).height()+1000);
        $("#js_happ_see_model_main").css("marginTop",($("body").scrollTop()+200)+"px");
        },"json");
    });
    $("#js_happy_close").click(function(){
      $("#js_happ_see_model").fadeOut(100);
    });
    /*
    $("#js_us_nav,#js_produce_nav,#js_happy_nav,#js_cooeration_nav").click(function(){
      var that$ = $("#"+$(this).attr("rel"));
      $("#js_nav a").removeClass("active");
      $(this).addClass("active");
      active_body.fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = that$.fadeIn(500);
        },500)
    });
*/
    function active_nav(id){
      $("#js_nav a").removeClass("active");
      $("#"+id).addClass("active");
    }
    //样式计算
    $("#js_produce_img").css("top","-"+NAV_HEIGHT+"px");
    $("body").mousewheel(function(){
      var that$ = $(this);
      SCROLL_TOP = that$.scrollTop();
      if(SCROLL_TOP > WINDOW_HEIGHT - NAV_HEIGHT){
         $("#js_nav").css({
           "position" : "fixed",
           "top" : "0"
         });
         if(SCROLL_TOP < WINDOW_HEIGHT*2){
           active_nav("js_produce_nav");
           return ;
         }
         if(SCROLL_TOP < WINDOW_HEIGHT*3 - 100){
           active_nav("js_happy_nav");
           return ;
         }
         if(SCROLL_TOP < WINDOW_HEIGHT*4){
           active_nav("js_cooeration_nav");
           return ;
         }
      }else{
        $("#js_nav").css({
           "position" : "relative"
        });
        active_nav("js_us_nav");
      }
    });
    $(".js_turn").click(function(){
      var id = parseInt($("#js_happ_see_model").attr("ref_id"));
      if($(this).attr("dec") == "right"){
        id += 1;
      }else{
        id -= 1;
      }
      $("#js_happ_see_model").attr("ref_id",id);
      $.post('http://yue.ali/index/get_artcile/id/'+id,{},function(json){
        if(json.status == "success"){
          $("#js_happy_img").attr("src",json.img_url);
          $("#js_happy_content").append(json.content);
        }else{
          alert("没有文章了!");
        }

      },"json");
    });
    $("#js_send").click(function(){
      if($("#js_name").val() == ""){
        alert("姓名不能为空!");
        return ;
      }
      if($("#js_email").val() == ""){
        alert("邮箱不能为空！");
        return ;
      }
      $.post("/index/save_contact",{
        "name" : $("#js_name").val(),
        "email" : $("#js_email").val(),
        "content" : $("#js_content").val()
      },function(json){
        console.log(json);
      },"json");
    });
  });
</script>
