<script src="__PUBLIC__/javascripts/home/jquery.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.nivo.slider.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.scrollAdvance.js"></script>
<script src="__PUBLIC__/javascripts/home/jquery.mousewheel.js"></script>
<script>
  jQuery.fn.center = function (absolute) {
    return this.each(function () {
      var t = jQuery(this);

      t.css({
        position:	absolute ? 'absolute' : 'fixed', 
        left:		'50%', 
        top:		'50%', 
        zIndex:		'99'
      }).css({
        marginLeft:	'-' + (t.outerWidth() / 2) + 'px', 
        marginTop:	'-' + (t.outerHeight() / 2) + 'px'
      });

      if (absolute) {
        t.css({
          marginTop:	parseInt(t.css('marginTop'), 10) + jQuery(window).scrollTop(), 
          marginLeft:	parseInt(t.css('marginLeft'), 10) + jQuery(window).scrollLeft()
        });
      }
    });
  };
  $(function(){
    var outTime,active_body=$("#js_main_body");
    $("#js_home_slider").nivoSlider({
      controlNav : false
    });
    $("#js_home_slider img").each(function(){
      $(this).height($(this).height());
    });
    $("#js_main_body").mousewheel(function(event,delta){
      if(delta < 0){
        $(this).fadeOut(500);
        outTime =setTimeout(function(){
          active_body = $("#js_produce_img").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(1).addClass("active");
        $("#js_nav").animate({bottom: $(window).height()-54},1000);
      }
    })
    //

    function scroll_animate(){
      $("#produce_img_list").animate({marginLeft:"-=100%"},10000,"swing",function(){
        $("#produce_img_list").append($("#produce_img_list li").eq(0).detach());
        $("#produce_img_list").css("marginLeft","0");
      });
      setTimeout(function(){
        scroll_animate();
      },15000);
    }
    scroll_animate();
    //产品
    $("#js_produce_img").mousewheel(function(event,delta){
      if(delta > 0){
        $(this).fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = $("#js_main_body").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(0).addClass("active");
        $("#js_nav").animate({bottom: 0},1000);
      }else{
        $(this).fadeOut(500);
        clearTimeout(outTime);
        $("#js_nav a").removeClass("active").eq(2).addClass("active");
        outTime=setTimeout(function(){
          active_body = $("#js_happy_see").fadeIn(501);
        },500)
      }
    });
    //动态
    $("#js_happy_see").mousewheel(function(event,delta){
      if(delta > 0){
        $(this).fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = $("#js_produce_img").fadeIn(500);
        },500)
        $("#js_nav a").removeClass("active").eq(1).addClass("active");
      }
    });
    $(".js_happy_see_item").click(function(){
      active_body = $("#js_happ_see_model").show().height($(document).height()).width($(document).width());
      $("#js_happy_see").hide();
    });
    
    $("#js_us_nav,#js_produce_nav,#js_happy_nav,#js_cooeration_nav").click(function(){
      var that$ = $("#"+$(this).attr("rel"));
      $("#js_nav a").removeClass("active");
      $(this).addClass("active");
      active_body.fadeOut(500);
        clearTimeout(outTime);
        outTime=setTimeout(function(){
          active_body = that$.fadeIn(500);
        },500)
    });
  });
</script>
