<!DOCTYPE html>
<html lang=zh-cn>
  <head>
    <meta charset=utf-8>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="下午好，奶茶！">
    <link rel="shortcut icon" icon href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>下午好，奶茶！</title>
    <!-- css -->
    <include file="Common/stylesheets" />
    <!-- js -->
    <include file="Common/javascripts" />
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/javascripts/home/respond.js"></script>
    <![endif]-->
  </head>
  <body class="fm_yahei">
    {__CONTENT__}
  </body>
</html>
