<div class="slider-wrapper theme-default">
  <div id="js_home_slider" class="home_slider">
    <volist name="home_img_list" id="vo">
      <img src=/{$vo.img_url} data-thumb=/{$vo.img_url} height="100%">
    </volist>
  </div>
</div>
<div class="placeholder_box_introduce"></div>
<div class="introduce">
  {$home_introduce["introduce_text"]}
</div>
<div class="placeholder_box_goto_shop"></div>
<a class="goto_shop bg db" href=""></a>
<div class="nav">
  <a class="item active" href="">我们</a>
  <a class="item" href="">产品</a>
  <a class="item" href="">动态</a>
  <a class="item" href="">合作</a>
</div>
<div id="js_produce_img" class="produce_img">
    <volist name="home_img_list" id="vo" key="key">
      <if condition="$key eq 1">
        <img src=/{$vo.img_url} class="db" height="100%" width="100%">
        <else/>
        <img src=/{$vo.img_url} class="dn" height="100%" width="100%">
      </if>
    </volist>
</div>
