<a id="top" name="top"></a>
<a id="main_body" name="main_body"></a>
<div id="js_main_body" class="main_body">
  <div class="slider-wrapper theme-default">
    <div id="js_home_slider" class="home_slider">
      <volist name="home_img_list" id="vo">
        <img src=/{$vo.img_url} data-thumb=/{$vo.img_url} height="100%">
      </volist>
    </div>
  </div>
  <div class="placeholder_box_introduce"></div>
  <div class="introduce">
    {$home_introduce["introduce_text"]}
  </div>
  <div class="placeholder_box_goto_shop"></div>
  <a class="goto_shop bg db" href="{$shop.main_shop}"  target="_blank"></a>
</div>
    <div id="js_nav" class="nav">
      <a id="js_us_nav" class="item active" href="#main_body" rel="js_main_body">我们</a>
      <a id="js_produce_nav" class="item" href="#produce_img" rel="js_produce_img">产品</a>
      <a id="js_happy_nav" class="item" href="#happy_see" rel="js_happy_see">动态</a>
      <a id="js_cooeration_nav" class="item" href="#cooperation" rel="js_cooperation">合作</a>
    </div>
<a id="produce_img" name="produce_img"></a>
<div id="js_produce_img" class="produce_img">
    <if condition="$produce_show_type.show_type eq 'video' ">
      <embed src="{$produce_show_type.video_url}" allowFullScreen="true" quality="high" width="600" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" style="position:absolute;top: 104px;left:50%;margin-left: -300px;"></embed>
      <img src=/{$produce_show_type.img_bg} width="100%">
      <else/>
    <ul id="produce_img_list" class="produce_img_list">
    <volist name="produce_img" id="vo" key="key">
          <li  class="db fl produce_item">
            <img src=/{$vo.img_url} width="100%">
            <ul class="goto_shop_list list_order_{$key}">
              <li class="item fl">
                <a class="bg taobao dib" href="{$shop.taobao}"  target="_blank"></a>
              </li>
              <li class="item fl">
                <a class="bg jingdong dib" href="{$shop.jingdong}"  target="_blank"></a>
              </li>
              <li class="item fl">
                <a class="bg yihaodian dib" href="{$shop.yihaodian}"  target="_blank"></a>
              </li>
              <li class="item fl">
                <a class="bg qianwang dib" href="{$shop.main_shop}"  target="_blank"></a>
              </li>
            </ul>
          </li>
      </volist>
    </ul>
  </if>
</div>
<a id="happy_see" name="happy_see"></a>
<div id="js_happy_see" class="happy_see">
  <h5 class="happy_see_title">喜闻乐见</h5>
  <ul class="happy_seee_list clearfix">
    <volist name="happy_see" id="vo">
      <li class="fl js_happy_see_item" ref_id={$vo.id}>
        <dl class="">
          <dt>
            <img src="/{$vo.img_url}"/>
          </dt>
          <dd>
            {$vo.title}
          </dd>
        </dl>
      </li>
    </volist>
  </ul>
  <div class="happy_more_wrap">
    <a id="js_happy_more" class="fr cb bg happy_more"></a>
  </div>
</div>
<div id="js_happ_see_model" class="happy_see_model dn">
  <div id="js_happ_see_model_main" class="happy_see_model_main">
    <a id="js_happy_close" class="close bg fr"></a>
    <div class="article_main clearfix">
      <div id="js_turn_left" class="fl turn_left bg js_turn"  dec="left"></div>
      <div class="fl contain">
        <div class="header clearfix">
          <div class="nav_of_article fl">
            <a>我们</a>
            <a>产品</a>
            <a>动态</a>
            <a>合作</a>
          </div>
          <div class="share_happy fr">
            <span class="text">分享</span>
            <span class="icon qqweibo bg dib"></span>
            <span class="icon weixin bg dib"></span>
            <span class="icon xinlang bg dib"></span>
            <div class="jiathis_style">
              <span class="jiathis_txt"></span>
              <a class=""></a>
              <a class=""></a>
              <a class=""></a>
              <a class=""></a>
              <a href="http://www.jiathis.com/share" class="jiathis share_jia jiathis_txt jtico_jiathis" target="_blank"></a>
            </div>
          </div>
        </div>
        <img id="js_happy_img" class="happy_img" src="/{$happy_article.img_url}"/>
        <div id="js_happy_content" class="happy_context">{$happy_article.context}</div>
      </div>
      <div id="js_turn_right" class="fl turn_right bg js_turn" dec="right"></div>
    </div>
  </div>
  <div class="more_news">
    <h5 class="title">更多动态</h5>
    <div class="news_hr"></div>
    <ul class="happy_seee_list clearfix">
    <volist name="happy_see" id="vo">
      <li class="fl js_happy_see_item" ref_id={$vo.id}>
        <dl class="">
          <dt>
            <img src="/{$vo.img_url}"/>
          </dt>
          <dd>
            {$vo.title}
          </dd>
        </dl>
      </li>
    </volist>
  </ul>
  </div>
</div>
<a id="cooperation" name="cooperation"></a>
<div id="js_cooperation" class="cooperation">
  <img src="/{$cooperation.cooperation_img}" width="100%"/>
  <a class="cooperation_download fl bg" href="{$cooperation.cooperation_detail}" target="_blank"></a>
  <div class="contact fl">
    <h5 class="title fm_yahei fl clearfix">━ Contact Us</h5>
    <span class="db name cb">
      <span>姓名</span>
      <input placeholder="NAME*" id="js_name"/>
    </span>
    <span class="db name">
      <span>邮箱</span>
      <input placeholder="EMAIL*" id="js_email"/>
    </span>
    <textarea class="textarea db" id="js_content" placeholder="Write down what you want......"></textarea>
    <a id="js_send" class="fr send bg"></a>
  </div>
  <ul class="address fl">
    <li class="clearfix">
      <span class="add_icon icon bg dib"></span>
      <span class="text">{$cooperation.addr}</span>
    </li>
    <li class="clearfix">
      <span class="tel_icon icon bg dib"></span>
      <span class="text">{$cooperation.tel}</span>
    </li>
    <li class="clearfix">
      <span class="emal_icon icon bg dib"></span>
      <span class="text">{$cooperation.email}</span>
    </li>
    <li class="clearfix share">
      <span class="icon qqweibo bg dib"></span>
      <span class="icon weixin bg dib"></span>
      <span class="icon xinlang bg dib"></span>
      <div class="jiathis_style">
          <span class="jiathis_txt"></span>
          <a class=""></a>
          <a class=""></a>
          <a class=""></a>
          <a class=""></a>
          <a href="http://www.jiathis.com/share" class="jiathis share_jia jiathis_txt jtico_jiathis" target="_blank"></a>
        </div>
       </li>
  </ul>
  <a class="cooperation_goto_shop fl bg" href="{$shop.main_shop}" target="_blank"></a>
</div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<a href="#top" class="db bg goto_top cb"></a>
